body{
    margin:100px auto;
    text-align:center;
    background-color:#ffedc6;
    font-family: "Comic Sans MS";
    font-size:20px;
}

input{
    height:60px;
    width:60px;
    line-height: 60px;
    background-color:#96dae4;
    text-align:center;
    border-radius:10px;
    border:2px solid #000;
    transition:0.1s;
    font-size: 20px;

}

.formFlame{
    width:190px;
}